
<ul>
        <li>Unique Squirrel ID: {{squirrel.Unique_Squirrel_ID}}</li>
	<li>Latitude: {{squirrel.Latitude}}</li>
        <li>Longitude: {{squirrel.Longitude}}</li>
        <li>Shift: {{squirrel.Shift}}</li>
        <li>Date: {{squirrel.Date}}</li>
        <li>Age: {{squirrel.Age}}</li>
        <li>Primay Fur Color: {{squirrel.Primary_Fur_Color}}</li>
        <li>Location: {{squirrel.Location}}</li>
        <li>Specific Location: {{squirrel.Specific_Location}}</li>
        <li>Running: {{squirrel.Running}}</li>
        <li>Chasing: {{squirrel.Chasing}}</li>
        <li>Eating: {{squirrel.Eating}}</li>
        <li>Foraging: {{squirrel.Foraging}}</li>
        <li>Other Activities: {{squirrel.Other_Activities}}</li>
        <li>Kuks: {{squirrel.Kuks}}</li>
        <li>Quaas: {{squirrel.Quaas}}</li>
        <li>Moans: {{squirrel.Moans}}</li>
        <li>Tail_flags: {{squirrel.Tail_flags}}</li>
        <li>Tail_twitches: {{squirrel.Tail_twitches}}</li>
        <li>Approaches: {{squirrel.Approaches}}</li>
        <li>Indifferent: {{squirrel.Indifferent}}</li>
        <li>Runs_from: {{squirrel.Runs_from}}</li>

</ul>

