<!DOCTYPE html>
<html lang="en"> 
<meta charset="utf-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
	<div class="w3-top">
		<div class="w3-bar w3-white w3-wide w3-padding w3-card">
			<a href="#home" class="w3-bar-item w3-button"><b>Home</b> Squirrel Tracker </a>
			<div class="w3-right w3-hide-small">
				<a href="/sightings/" class="w3-bar-item w3-button">LIST</a>
				<a href="/sightings/stats" class="w3-bar-item w3-button">STAT</a>
				<a href="/map/" class="w3-bar-item w3-button">MAP</a>
			</div>
		</div>
	</div>
	{% load static %}
	<img class="w3-image" src="static/sightings/images/Squirrel.gif" alt="Squirrel" width="1500" height="800">
</header>

<body>
</body>
</html>