<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<head>
	<style>
	table, th, td { border: 1px solid black; }
	</style>
</head>

<body>
	<div>
		<h1>Statistics About Squirrel Data</h1>
		<a href="/sightings/" class="w3-button w3-round w3-white w3-border w3-border-blue">Back</a>
		<br>
	</div>

	<div>
		<table class="w3-centered">
		<col>
		<colgroup span="3"></colgroup>
		<thead>
			<tr class="w3-blue">
				<th scope="col">Feature</th>
				<th scope="col">Value</th>
				<th scope="col">Count</th>
			</tr>
		</thead>

		<tbody>
			{% for field,data in field_values.items %}
			<var hidden> n=1 </var>
				{% for val, num in data.items %}
				{% if forloop.first %}
				<tr>
					<th rowspan={{data|length}} scope="rowgroup">{{field}}</th>
					<th scope="row">{{val|default_if_none:'None'}}</th>
					<td>{{num}}</td>
				</tr>
				{% else %}
				<tr>
					<th scope="row">{{val|default_if_none:'None'}}</th>
					<td>{{num}}</td>
				</tr>
				{% endif %}
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	</div>
</body>
</html>